/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.input-lg {
  border-radius: 5px;
}

h1, h2 {
  font-family: 'Loved by the King', cursive;
}

.banner h1 {
  font-size: 72px;
}
