.banner-show {
  height: 60vh;
  background-position: center center;
  margin-bottom: 20px;
}

.show-race {
  font-weight: bolder;
  line-height: 1em;
}

.cat-pres h1 {
  margin-top: 5px;
  margin-bottom: 2px;
}
