.banner-show {
  height: 60vh;
  background-position: center center;
  margin-bottom: 20px;
}

.show-race {
  font-weight: bolder;
}

.cat-pres h1 {
  margin-bottom: -5px;
}

.booking {
  box-shadow: 2px 2px 2px #E6E6E6;
  padding: 20px;
  border-radius: 8px;
  background-color: #EEEEEC;
}

.booking h3 {
  margin: 0px;
}
