.align {
  display: flex;
  align-items: center;
  justify-content: center;

  h3 {
    margin: 0;
  }
  p{
    margin: 0;
  }
}

.btn-edit {
  margin-top: 50px;
}

.btn-space {
  margin-right: 40px;
}

#greeting {
margin-top: 0;
}

.profile-box-left {
  border: solid;
  border-color: #F7F7F7;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
}
