<div class="text-center container-with-footer">
  <h1>Bookings#show</h1>
  <p>Find me in app/views/bookings/show.html.erb</p>

  <h1>Validate your booking</h1>
  <h3>Envoyer un message à <%=%></h3>

</div>
