<div class="cat-rating">
  <% count = reviews.count %>
  <% if count == 0 %>
    <small>no reviews yet</small>
  <% else %>
    <% mean = 0 %>
    <% reviews.each { |e| mean += (e.rating.to_i.fdiv(count)) } %>
    <% mean.round.times do %>
      <i class="fa fa-star" aria-hidden="true"></i>
    <% end %>
    <% if mean - mean.round > 0.5 %>
    <i class="fa fa-star-half" aria-hidden="true"></i>
    <% end %>
    <small><%= count %></small>
  <% end %>
</div>
