<div class="container-test">
  <h1>Your Dashboard</h1>
  <div class="dashboard-tabs">
    <a class="dashboard-tab active" href="#">
      <h3>5</h3>
      <p>Rented Cats</p>
    </a>
    <a class="dashboard-tab" href="#">
      <h3>1</h3>
      <p>My cats</p>
    </a>
  </div>
    <% current_user.cats.each do |cat| %>
      <%= p cat.name %>
    <% end %>
</div>
