<div class="footer">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="footer-left">
        <%= image_tag "logo.png", class: "logo-footer" %>
        <p>Catbnb, Inc.</p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="footer-right">
        <%= link_to "Terms & Privacy", "#" %>
        <%= link_to "Site Map", "#" %>
      </div>
    </div>
  </div>
</div>
