// Your footer style
.footer {
  border-top: 1px solid;
  margin-top: 30px;
  padding: 30px;
  display: flex;
  position: relative;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  justify-content: space-around;
}
.logo-footer {
  height: 30px;
  display: flex;
  position: absolute;
}
