.container-without-footer{
  position: relative;
  margin-top: 70px;
  height: calc(100vh - 70px);
  width: 100vw;
  padding: 30px;
}

.container-with-footer{
  padding: 30px;
  position: relative;
  margin-top: 70px;
  height: calc(100vh - 154px);
  width: 100vw;
  overflow: scroll;
}

.wider-container {
  width: 100%;
  height: calc(100vh - 70px);
  overflow: scroll;
}
