.container-dashboard {
  margin-top: 70px;
  ul {
    list-style-type: none;
  }
}
.dashboard-cat-informations{
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #F7F7F7;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.dashboard-booking-informations {
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #F7F7F7;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cat-image {
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.cat-image-lien:hover {
  opacity: 0.5;
}

.details {
  font-size: 13px;
  margin: 10px
}

.cat-name-and-desc h3 {
  margin-top: 0px;
}
.right-card {
  border: solid;
  border-color: #F7F7F7;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}
.right-card-elem {
  padding-top: 8px;
  border-bottom: #F7F7F7;
  a  {
    color: black;
  }
}
.right-card-elem a:hover {
    color: #da552f;
  }

.dashboard-cat-rating i {
  color: #FDB631;
  font-size: 12px;
}
.current-information {
  border-top: solid 1px #B9B9B9;
  padding: 5px;
}
.dashboard-bookings {
  display: flex;
  justify-content: align-items;
  align-items: center;

}
.right-card-text a {
  font-color: black;
}
.dashboard-booking-list{
  border-bottom: solid #B9B9B9 1px;
  font-size: 12px;
  margin-top: 4px;
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}
.dashboard-tabs {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px 5px 0 0;
  background-color: #F7F7F7;
}
.dashboard-tab:hover {
  cursor: pointer;
  opacity: 0.8;
}
.dashboard-tab {
  cursor: pointer;

}
.dashboard-tab.active {
  border-bottom: solid;
}

.dashboard-bookings-infos {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.btn-accepted {
  padding: 5px;
  background-color: #74E111;
  border-radius: 15px;
  border: solid;
  border-color: #5BB400;
}
.dashboard-cat-photo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100px;
  img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }
  h1 {
    font-size: 23px;
  }
}
.dashboard-drop-down {
  background-color: #F7F7F7;
  margin-top: 5px;
}
.dashboard-drop-down-left {
  display: flex;
  justify-content: center;
  align-items: center;

}
.accept-or-decline{
  margin: 2px;
  margin-right: 40px;
}
.fixe-button-widht {
  width: 100px;
  font-size: 15px;
}
.accepted-button-dash {
  color: #269707;
  padding: 2px;
}
.declined-button-dash {
  color: #D23333;
  padding: 2px;
}
.pending-button-dash {
  color: #E67E22;
  padding: 2px;
}
.cancel-button-dash {
  color: #469AE0;
  padding: 2px;
}
.dashboard-cat-date {
  padding-top: 13px;
}
.allgood-button-dash {
  color: black;
  padding: 2px;
}

