.container-dashboard {
  margin-top: 70px;
  ul {
    list-style-type: none;
  }
}
.cat-informations{
  margin-top: 10px;
  background-color: #F7F7F7;
  padding: 10px;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: align-items;
}
.cat-image {
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.details {
  font-size: 13px;
  margin: 10px
}

.cat-name-and-desc h3 {
  margin-top: 0px;
}
.right-card {
  border: solid;
  border-color: #F7F7F7;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
}
.right-card-elem {
  margin-top: 10px;
  padding-top: 10px;
  border-bottom: #F7F7F7;
}

.cat-rating i {
  color: #FDB631;
  font-size: 12px;
}
.current-information {
  border-top: solid 1px #B9B9B9;
  padding: 5px;
}
.dashboard-bookings {
  display: flex;
  justify-content: align-items;
  align-items: center;
}
.right-card-text a {
  font-color: black;
}
.dashboard-booking-list{
  border-bottom: solid #B9B9B9 1px;
  font-size: 12px;
  margin-top: 4px;
}
.dashboard-tabs {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px 5px 0 0;
  background-color: #F7F7F7;
}
.dashboard-tab:hover {
  cursor: pointer;
  opacity: 0.8;
}
.dashboard-tab {
  cursor: pointer;

}
.dashboard-tab.active {
  border-bottom: solid;
}
