.dashboard-tabs {
  background: #53443F;
  display: flex;
  padding: 10px 10px 0 10px
}
.dashboard-tabs a {
  color: white;
}
.dashboard-tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.dashboard-tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.dashboard-tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.dashboard-tab {
  background: #756A66;
  flex: 0 0 50%;
  text-align: center;
  padding: 20px 0;
}
.dashboard-tab:first-child {
  border-radius: 10px 0 0 0;
}
.dashboard-tab:last-child {
  border-radius: 0 10px 0 0;
}
.dashboard-tab.active {
  background: white;
  color: black;
}


// .cat-informations {
//   display: flex;
//   align-items: center;
//   border-radius: 3px;
//   // justify-content: space between;
// }
.container {
  margin-top: 70px;
  ul {
    list-style-type: none;
  }
}
.cat-informations{
  margin-top: 10px;
  background-color: #F7F7F7;
  padding: 10px;
  border-radius: 5px;
}
.cat-image {
  border-radius: 10px;
  margin-right: 20px;
}
// .information-list {
//   display: flex;
// }
.details {
  font-size: 10px;
}

.cat-name-and-desc, .details {
  height: 200px;
  display: flex;
  align-items: center;
}

.cat-name-and-desc h3 {
  margin-top: 0px;
}

// .product {
//   display: flex;
//   align-items: center;
//   padding: 20px;
//   border-radius: 3px;
//   transition: all 0.15s ease;
// }

// /* Body design */
// .product-body {
//   flex: 1 1 auto;
// }
// .product-body h3 {
//   font-weight: bold;
//   font-size: 23px;
//   margin-top: 0;
// }
// .product-body p {
//   font-weight: lighter;
//   color: #999999;
//   margin-bottom: 0;
// }


// /* Controls design */
// .product-controls {
//   display: flex;
//   align-items: center;
//   text-align: center;
//   margin: 0px;
// }
// .product-controls a {
//   padding: 0 20px;
//   font-size: 17px;
//   color: #E6E6E6;
// }
// .product-controls a:hover {
//   color: #D3473C !important
// }
// .product-controls-hidden a {
//   color: transparent;
//   font-size: 15px;
//   transition: all 0.15s ease;
//   border-color: transparent;
// }

// /* Hover effects */
// .product:hover {
//   background: #f7f7fa;
//   cursor: pointer;
// }
// .product-upvote:hover, .product-upvote.product-upvote-upvoted {
//   color: #5898f1;
//   cursor: pointer;
// }
// .product-upvote-upvoted .product-arrow {
//   border-bottom-color: #5898f1;
// }
// // .product:hover .product-upvote { transform: scale(1.2) }
// .product:hover .product-controls-hidden a { color: #E6E6E6 }
// .product-upvote:hover .product-arrow { border-bottom: 9px solid #5898f1 }
