<% @cats.each do |cat| %>
  <h3><%=link_to cat.name, cat_path(cat) %></h3>
  <p><%= cat.description %></p>
    <ul>
      <li>
        <i class="fa fa-star"></i> <%= cat.address %>
      </li>
      <li>
        <i class="fa fa-star"></i> <%= cat.race %>
      </li>
    </ul>
<% end %>
